.category-title {
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  width: 100%;
}

.navigation {
  margin: 20px;
}
.category-intro-text {
  color: #808080
}

.category-info-image {
  width: 100%;
}

.product-listing {
  display: flex;
}

.product-list-image {
  width: 20%;
}

.product-list-title {
  color: #808080;
  margin-left: 20px;
  text-transform: uppercase;
}

.new {
  color: red;
  font-weight: bold;
  display: inline;
  margin-left: 10px;
  text-transform: uppercase;
}

